<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-spring-framework" role="menuitem"><a href="{{site.baseurl}}tag/spring-framework">SpringFramework</a></li>
    <li class="nav-spring-boot" role="menuitem"><a href="{{site.baseurl}}tag/spring-boot">SpringBoot</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Posts by Tag</a>
    </li>
</ul>
